asgiref==3.8.1
Django==5.0.6
django-allauth==0.63.3
django-apscheduler==0.6.2
django-timezone-field==7.0
Pillow==10.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.0
stripe==10.7.0
tzdata==2024.1
tzlocal==5.2
whitenoise==6.8.1
gunicorn==21.2.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
channels==4.1.0
daphne==4.1.2
redis==5.0.8
reportlab==4.2.2
xhtml2pdf==0.2.16
razorpay==1.4.2
twilio==9.2.3
